<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Enlaces</h3>

                    {#{{ menu('footer').listClass('list list-unstyled').cache({'namespace': 'user'}).render()|raw }}#}

                    {% for link in links('footer').cache({'namespace': 'user'}).user().get() %}
                        <p>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </p>
                    {% endfor %}

                </div>
                <div class="footer-col col-md-4">
                    <h3>Redes sociales</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="http://facebook.com/pyrocms" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/pyrocms" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Sobre nosotros</h3>

                    <p>Praesent lacinia viverra est, non faucibus urna malesuada at. Proin dictum nibh vestibulum gravida tristique. Maecenas pretium urna ante, eu facilisis ligula aliquet vitae.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; {{ config('app.name') }} {{ 'now'|date("Y") }}
                </div>
            </div>

        </div>
    </div>
</footer>
